services:
  dashboard:
    build: ./dashboard
    ports:
      - "3000:3000"
    depends_on:
      - server
    restart: unless-stopped

  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - server/.env
    environment:
      - RYUMEM_DB_FOLDER=/app/data
    volumes:
      - ./server/data:/app/data
    restart: unless-stopped
